.press_header {
			padding-top: 100px;
	      font-size: 74px;
}

.logo {
      margin: 10px;
      margin-bottom: 15px;
      border: 2px solid #fff;
}

p {
  font-size: 20px;
}

.lower {
       font-size: 12px;
}

.mastfoot {
	padding-bottom: 0px;
}

.inner {
	padding-bottom: 20px;
}
